@use 'src/assets/styles/variables';
:host {
  .card {
    color: transparent;
    width: 300px;
    padding: 25px;
    border-radius: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: stretch;
    gap:25px;
    &__logo-and-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: stretch;
      gap: 16px;
    }
    &__title {
      width: 100%;
      @include variables.font_6;
      color: variables.$text-color-2;
      text-align: center;
      letter-spacing: normal;
    }
    &__logo {
      width: 100px;
      color: variables.$primary;
    }
    p {
      @include variables.font_8;
      font-size: 0.875rem;
      text-align: center;
    }
    .button {
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 10px;
      width: 100%;
      height: 50px;
      flex-grow: 0;
    }
  }
}
