@use 'src/assets/styles/variables';

:host {
  .top-hero {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__container {
      position: relative;
      top: -60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;
    }
    &__title {
      @include variables.font_0;
      max-width: 835px;
      letter-spacing: -0.02em;
      line-height: 1.1em;
      text-align: left;
      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }
    }
    &__subtitle {
      @include variables.font_7;
      max-width: 500px;
      font-weight: 400;
      text-align: left;
      color: variables.$text-color-2;
    }
    &__button {
      color: variables.$white;
      background-color: variables.$primary;
      &:hover {
        background-color: variables.$text-color-2;
        border-color: variables.$text-color-2;
      }
      @media screen and (max-width:768px) {
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}
