@use 'src/assets/styles/variables';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  @include variables.font_6;
  background-color: variables.$space-cadet;
  color: variables.$white-smoke;
}
