<section [id]="id" class="cta" [ngStyle]="{backgroundImage: bgImage}">
  <h2 class="cta__header">{{ header | uppercase }}</h2>
  <h3 class="cta__title">{{ title }}</h3>
  <p class="cta__address">{{ address }}</p>
  <a
    [href]="mailto"
    [innerHTML]="emailAddress"
    class="cta__email"
  ></a>
  <div class="cta__soc-med">
    <a
      [href]="linkedIn.url"
      target="_blank"
      class="cta__soc-med--link"
    >
      <img
        class="cta__soc-med--logo"
        [src]="linkedIn.logoUrl"
        [alt]="linkedIn.text">
    </a>
    <a
      [href]="facebook.url"
      target="_blank"
      class="cta__soc-med--link"
    >
      <img
        class="cta__soc-med--logo"
        [src]="facebook.logoUrl"
        [alt]="facebook.text">
    </a>
  </div>
</section>
