@use 'src/assets/styles/colors';
@use 'src/assets/styles/fonts';
@use 'src/assets/styles/variables';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

section {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  padding: 120px;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  @media screen and (max-width: 768px) {
    padding: 24px;
  }
}

button {
  background-color: transparent;
  color: colors.$primary;
  border-radius: 100px;
  border: 2px solid colors.$primary;
  border-radius: 100px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: colors.$primary;
    color: colors.$white;
  }
  &:active {
    border-color: colors.$secondary;
    background-color: colors.$secondary;
    box-shadow:
      rgba(0, 0, 0, 0.07) 0px 1px 2px,
      rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px,
      rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
}

.add-border {
  border: 1px;
  border-color: red;
  background-color: #ff000033;
}
.green {
  background-color: #15ff0033;
}
.blue {
  background-color: #0004ff33;
}
.yellow {
  background-color: #fffb0033;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
